body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 75px;
    padding: 0;
    background-color: rgb(249, 247, 252);
}
h1{
    color: rgb(240, 159, 9);
    font-size: 70px;
}
img{
    width: 30%;
    margin: 20px;
}